@font-face {  
  font-family: 'SourceHanSansCN-Regular'; 
  src: url('./SourceHanSansCN-Regular.otf');
  font-weight: normal;  
  font-style: normal;  
}
@font-face{
  font-family:'SourceHanSansCN-Normal.otf';
  src:url('./SourceHanSansCN-Normal.otf');
}